input.search {
  border: none;
  border-bottom: 1px solid #dddd;
  border-radius: 0px;
  margin-top: 10px;
}

.form-control:focus {
  box-shadow: none;
}

.selectedTab{
  font-weight: 500;
  text-decoration: underline;
  color: #1da1f2;
}

.selected{
  background-color: aliceblue;
  opacity: 0.2;
}

.valid {
  color: green;
  opacity: 0.5;
}

strong{
  color: gray;
}

.check{
  color: #dddd ;
}

.overlay{
  overflow: overlay;
  max-height: 270px;
}

.btn-add{
  margin-left: 30px;
  margin-top: 14px;
}