<div class="col-12 col-lg-10 offset-lg-1 father">
    <div class="social-card col-12 p-0" align="center">
        <div class="thead blue-back px-4  d-flex align-items-center">
            <span  (click)="router.navigateByUrl('/logic');" class="material-icons  mr-3">
                keyboard_backspace
            </span>
            <span  (click)="router.navigateByUrl('/logic');" class="white-text back">
                Ir a la prueba logica
            </span>
        </div>

        <div *ngIf="loader" class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>


        <div class="row body2 mx-0" *ngIf="!loader">

            <div class="col-12 row mx-0 d-md-none pt-4 pl-5">
                <div class="col-12">
                    <img *ngIf="user.avatar" width="60px" class="user-img2" src="{{user.avatar}}" alt="">
                    <i *ngIf="!user.avatar" class="material-icons user2">person</i>
                </div>

                <div class="row justify-start col-12 px-0 mt-4 d-flex d-md-none">
                    <div class="text-left mr-4" [class.selectedTab]="tab" (click)="tab = true">Personal info </div>
                    <div class="text-left" [class.selectedTab]="!tab" (click)="tab = false"> Tareas </div>
                </div>
            </div>

            <div [class.d-none]="!tab"
                class="d-md-inline-flex col-md-6 col-12 row mx-0 animated fadeIn justify-content-center px-md-0">

                <div class="col-12 d-none d-md-block pt-4">
                    <img *ngIf="user.avatar" width="60px" class="user-img2" src="{{user.avatar}}" alt="">
                    <i *ngIf="!user.avatar" class="material-icons user2">person</i>
                </div>

                <div class="col-12 col-md-5 px-0 align mt-3">
                    <i class="material-icons mr-2 user ">account_circle</i>
                    <input type="text" disabled placeholder="Nombre" [(ngModel)]="user.first_name"
                        class="form-control icon" />
                </div>

                <div class="col-12 col-md-5 px-0 align mt-3">
                    <i class="material-icons mr-2 user ">account_circle</i>
                    <input type="text" disabled placeholder="Apellido" [(ngModel)]="user.last_name"
                        class="form-control icon" />
                </div>

                <div class="col-12 col-md-5 px-0 align mt-3">
                    <i class="material-icons mr-2 user">work</i>
                    <input type="text" disabled placeholder="Email"
                        [(ngModel)]="userService.address[user.id - 1]['type']" class="form-control icon" />
                </div>

                <div class="col-12 col-md-5 px-0 align mt-3">
                    <i class="material-icons mr-2 user">phone</i>
                    <input type="text" disabled placeholder="Email"
                        [(ngModel)]="userService.address[user.id - 1]['phone']" class="form-control icon" />
                </div>

                <div class="col-12 col-md-5 px-0 align mt-3">
                    <i class="material-icons mr-2 user">mail</i>
                    <input type="text" disabled placeholder="Email" [(ngModel)]="user.email"
                        class="form-control icon" />
                </div>


                <div class="col-12 col-md-5 px-0 align mt-3">
                    <i class="material-icons mr-2 user">place</i>
                    <input type="text" disabled placeholder="Email"
                        [(ngModel)]="userService.address[user.id - 1]['location']" class="form-control icon" />
                </div>




            </div>

            <div [class.d-none]="tab" class="d-md-inline-block col-md-6 col-12 animated fadeIn pt-md-5 pt-3 pr-md-5"
                style="height: 100%;">
                <div class=" box-rounded">

                    <div class="row mx-0 col-11 mb-4 mt-1">
                        <input type="text" placeholder="Nueva tarea" [(ngModel)]="task" (keydown.enter)="addTask()"
                            class="form-control icon col search" />

                        <button [class.disabled]="!this.task" (click)="addTask()" class="btn-add px-3">
                            Agregar
                        </button>

                    </div>

                    <div class="overlay">
                        <div class="border-bottom row mx-0 py-2 mx-3" [class.selected]="item.status"
                            *ngFor="let item of userService.address[user.id - 1]['task']; let i = index;">
                            <div class="">
                                <strong>{{ i + 1 }}</strong>
                            </div>
                            <div class="col-9 text-left ellipsis">
                                {{item.task}}
                            </div>
                            <div class="col-2 text-right ml-auto">
                                <i class="material-icons valid" (click)="item.status = !item.status"
                                    [class.check]="!item.status">{{ user.last_name != '' ? 'check_circle' :
                                    'add_circle'
                                    }}</i>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>



        <span *ngIf='!loader' class="addButt blue-back animated fadeIn" (click)="change()">
            <i class="material-icons animated fadeIn">keyboard_backspace</i>
        </span>
    </div>
</div>