<div class="col-12 col-lg-10 offset-lg-1 father">
    <div class="social-card col-12 p-0" align="center">
        <div class="thead blue-back px-4  d-flex align-items-center">
            <span class="material-icons mr-3" (click)="router.navigateByUrl('/');">
                keyboard_backspace
            </span>
            <span class="white-text back" (click)="router.navigateByUrl('/');">
                Ir a la prueba de usuario
            </span>
        </div>


        <div class="animated fadeIn row mx-0 pt-5 px-md-4">
            <div [class.d-none]="!tab" class="d-md-inline-block col-12 col-md-6">

                <p class="intruction"> Inserte 2 numeros para calcular la sumatoria de los <br> cuadrados de los
                    divisores en ese rango
                </p>

                <div class="col-8 example my-5">

                    <span>
                        ejemplo: f(10, 90) = Array ( [42] => 2500 )
                    </span>

                </div>

                <div class="col-11 col-md-9 px-0 align mt-4">
                    <i class="material-icons mr-2 user">tag</i>
                    <input type="text" placeholder="Primer numero" [(ngModel)]="first_number" class="form-control icon"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
                </div>

                <div class="col-11 col-md-9 px-0 align mt-4">
                    <i class="material-icons mr-2 user">tag</i>
                    <input type="text" placeholder="Segundo numero" [(ngModel)]="second_number"
                        class="form-control icon"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
                </div>

                <button [class.disabled]="!this.first_number || !this.second_number"
                    [disabled]="!this.first_number || !this.second_number" (click)="suma()"
                    class="btn-add col-11 col-md-9 px-3 mt-4">
                    Generar
                </button>


            </div>
            <div [class.d-none]="tab" class="d-md-inline-block  col-12 col-md-6 pr-4">
                <div class="box-rounded">
                    <h4 class="mt-3">
                        Cuadrado de los divisores
                    </h4>

                    <div *ngIf="!loader">
                        <div class="border-bottom row mx-0 py-2 mx-3" *ngFor="let item of array_number">

                            {{item.number}} => {{item.value}}

                        </div>

                        <div *ngIf="array_number.length == 0 && try > 0" class="mt-5">
                            No se encontraron cuadrados en los divisores para el rango ingresado
                        </div>

                    </div>

                    <div *ngIf="loader" class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>

        </div>

        <span *ngIf='!tab' class=" d-md-none addButt blue-back animated fadeIn" (click)="tab = !tab">
            <i class="material-icons animated fadeIn">keyboard_backspace</i>
        </span>

    </div>
</div>