
.box-rounded { 
    height: 400px;
    overflow-y: overlay;
}


@media (max-width: 767px) {
    .box-rounded { 
        height: 480px;
    }
}
.intruction{
    font-size: 18px;
}

.example{
    background: aliceblue;
    border: 1px solid #1da1f2;
    border-radius: 10px;
    padding: 10px;
}

.example span {
    font-weight: 500;
    color: #424242;
}