/* You can add global styles to this file, and also import other style files */
body{
    background-color: whitesmoke;
}
.social-card {
    border-radius: 10px !important;
    height: 550px;
    position: relative;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.back:hover {
    cursor: pointer;
    text-decoration: underline;
}

.blue-back{
    background-color:  rgb(29, 161, 242);
    color: white;
}

.user-img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-img2{
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.father{
    height: 100vh;
    display: flex;
    align-items: center;
}

.user2{
    color: gray;
    font-size: 80px;
    margin-top: 35px;
}

.user3{
    color: gray;
    font-size: 40px;
}

.page-item{
    cursor: pointer;
}

.thead > input.form-control{
    width: 200px;
    position: absolute;
    right: 20px;
    border-radius: 10px;
}

.align{
    display: flex;
    align-items: center;
}

input.icon{
    width: calc(100% - 35px);
    padding-right: 40px;
}

.f500{
    font-weight: 500;
}

.valid, .check{
    font-size: 20px;
    opacity: 0.7;
}

.times{
    color: #ff6a6a;
    position: absolute;
    font-size: 20px;
    transform: rotate(45deg);
    opacity: 0.7;
    right: 14px;
    top: 32px;
}

.white-text{
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.thead{
    display: flex;
    align-items: center;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.btn-second{
    background-color: rgb(29, 161, 242);
    color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.16), 0 1px 5px 0 rgba(0,0,0,.12);
}

.btn-second:hover{
    background-color: rgb(29, 161, 242);
    color: white;
    -webkit-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

i{
    cursor: pointer;
}

.user{
    color:gray ;
}

.addButt{
    color: white;
    font-weight:400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 20px;
    width: 50px;
    height: 50px;
    bottom: 15px;
    font-size: 25px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    outline: 0;
}

.box-rounded{
    height: 100%;
    border-radius: 10px;
    border: 1px solid #dddd;
  }

.body{
    height: 400px;
    overflow-y: auto;
    display: contents;
}

.body2{
    height: 400px;
}

.addButt:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

table td{
    vertical-align: middle;
}

tbody tr:hover{
    cursor: pointer;
    background-color: aliceblue;
}

tbody > tr:hover{
    cursor: pointer;
    background-color: #1da1f233;
}

.edit{
    color: #ff9800;
}

.trash{
    color: #ff6a6a;
}

i.trash:hover, i.edit:hover{
    color:rgb(29, 161, 242);
}

#navigation{
    position: absolute;
    bottom: 0;
    right: 20px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    background-color:rgb(29, 161, 242); ;
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    background-color:rgb(29, 161, 242); ;
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    background-color:rgb(29, 161, 242); ;
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    background-color:rgb(29, 161, 242); ;
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  

  
@media (max-width: 767px) {
    .social-card{
        min-height: 620px ;
    }
}


.btn-add{
    background: #1da1f2;
    color: white;
    border: none;
    border-radius: 10px;
    height: 35px;
    font-size: 15px;
    outline: none !important;
  }
  
  .btn-add:hover{
      background-color: #1588d0;
    outline: none !important;
}

.page-item.active .page-link{
    background: #1da1f2;
}

.disabled{
    opacity: 0.5;
}


::-webkit-scrollbar {
    width: 5px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(187, 187, 187); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(154, 154, 154); 
}
