<div class="col-12 col-lg-10 offset-lg-1 father">
    <div class="social-card col-12 p-0" align="center">
        <div class="thead blue-back px-4  d-flex align-items-center">
            <span  (click)="router.navigateByUrl('/logic');" class="material-icons  mr-3">
                keyboard_backspace
            </span>
            <span  (click)="router.navigateByUrl('/logic');" class="white-text back">
                Ir a la prueba logica
            </span>
            <input [(ngModel)]="search" type="text" class="form-control" placeholder="Buscar" />
        </div>

        <div *ngIf="loader" class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="animated fadeIn" *ngIf="!loader">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"> Avatar </th>
                        <th scope="col"> Nombre </th>
                        <th scope="col" class="d-none d-md-table-cell"> Apellido </th>
                        <th scope="col" class="d-none d-md-table-cell"> Puesto </th>
                        <th scope="col" class="d-none d-lg-table-cell"> Direccion </th>
                    </tr>
                </thead>
                <tbody>
                    <div class="body">
                        <tr *ngFor="let item of users | filter: search ; let i = index;" (click)="editUser(i);">
                            <th scope="row"> {{item.id}} </th>
                            <th scope="row">
                                <img *ngIf="item.avatar" class="user-img" src="{{item.avatar}}" alt="">
                                <i *ngIf="!item.avatar" class="material-icons user3">person</i>
                            </th>
                            <td> {{ item.first_name }} <span class="d-md-none"> {{ item.last_name }} </span> </td>
                            <td class="d-none d-md-table-cell"> {{ item.last_name }} </td>
                            <td class="d-none d-md-table-cell">  {{userService.address[item.id - 1]['type'] }} </td>
                            <td class="d-none d-lg-table-cell"> {{userService.address[item.id - 1]['location'] }} </td>
                        </tr>
                    </div>
                </tbody>
            </table>
            <nav id="navigation" aria-label="Page navigation example">
                <ul class="pagination ml-3">
                    <li class="page-item">
                        <a class="page-link" (click)="changePage(page - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" [class.active]="page == 1"><a class="page-link" (click)="changePage(1)">1</a>
                    </li>
                    <li class="page-item" [class.active]="page == 2"><a class="page-link" (click)="changePage(2)">2</a>
                    </li>
                    <li class="page-item" *ngFor="let item of extraPage(); let i = index;"
                        [class.active]="page == item">
                        <a class="page-link" (click)="myUser(item)"> {{item}} </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" (click)="page < 2 ? changePage(page + 1): myUser(page + 1)"
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>


    </div>
</div>